{% include '_partials/_header.html' %}
<div class="p-2 account-background">
    <div class="title-about-us">
    About Us
    </div>
    <div class="about-us-1">
    Here at Recipe Remix we're all about helping you become the healthiest & happiest version of yourself!
        Forget stressing about what to eat and spending all of your money on groceries. By creating an account with our
        application, Recipe Remix will analyze your diet restrictions and provide you with a favorable meal plan
        including a customized grocery list. Did we mention it's free?
    </div>
    <div class="users-title">
    Success Stories
    </div>
    <div class="user-1">
    This is the tip box - You can input as much or as little information!
    </div>
    <div class="user-2">
    This is the tip box - You can input as much or as little information!
    </div>
    <div class="user-3">
    This is the tip box - You can input as much or as little information!
    </div>
</div>
