{% include '_partials/_header.html' %}
<style>
    .title-faq {
        font-size: 180%;
        font-weight: 600;
        text-align: center;
        position: relative;
        bottom: 90px;
        -webkit-text-stroke: .9px black;
    }
    .quest-1 {
        font-size: 115%;
        font-weight: 600;
        text-align: left;
        position: relative;
        bottom: 20px;
        color: black;
    }
    .ans-1 {
        text-align: left;
        position: relative;
        bottom: 20px;
        color: black;
    }
    .quest-2 {
        font-size: 115%;
        font-weight: 600;
        text-align: left;
        position: relative;
        bottom: 0px;
        color: black;
    }
    .ans-2 {
        text-align: left;
        position: relative;
        bottom: 0px;
        color: black;
    }
    .quest-3 {
        font-size: 115%;
        font-weight: 600;
        text-align: left;
        position: relative;
        bottom: -20px;
        color: black;
    }
    .ans-3 {
        text-align: left;
        position: relative;
        bottom: -20px;
        color: black;
    }
    .quest-4 {
        font-size: 115%;
        font-weight: 600;
        text-align: left;
        position: relative;
        bottom: -40px;
        color: black;
    }
    .ans-4 {
        text-align: left;
        position: relative;
        bottom: -40px;
        color: black;
    }
    .quest-5 {
        font-size: 115%;
        font-weight: 600;
        text-align: left;
        position: relative;
        bottom: -60px;
        color: black;
    }
    .ans-5 {
        text-align: left;
        position: relative;
        bottom: -60px;
        color: black;
    }
</style>
<div class="p-2 account-background">
    <div class="title-faq">
        ━━━ Frequently Asked Questions ━━━
    </div>
    <div class="quest-1">
        Has Recipe Remix been endorsed by any health experts?
    </div>
    <div class="ans-1">
        Yes! Dr. Anthony Fauci & Dr. Travis Stork, well-pronounced physicians, actively use and recommend the application.
        Dr. Fauci is able to keep President Biden's health superior by producing weekly meal plans through the product.
        Dr. Stork has mentioned Recipe Remix several times in his talk show, and encourages viewers of all ages and health
        backgrounds to use the application!
    </div>
    <div class="quest-2">
        Can I hear some personal experiences from Recipe Remix?
    </div>
    <div class="ans-2">
        Absolutely! Head over to our About Us page, linked in the above toolbar, to find some personal stories provided by
        some of our most successful users!
    </div>
    <div class="quest-3">
        Who can use the application?
    </div>
    <div class="ans-3">
        You, your best friend, co-worker, classmate,...anyone! Recipe Remix was intended for use by a vast range of people,
        and was created to help users with various goals or nutrition requirements. No concern is too big or too small for the app,
        we want to help everyone!
    </div>
    <div class="quest-4">
        Why was Recipe Remix created?
    </div>
    <div class="ans-4">
        The application was intended to increase the quality of health among it's users, while saving them money and time on meal planning.
        Overall our product is aimed at helping people to better their everyday lives!
    </div>
    <div class="quest-5">
        I'm having issues using the app, who can I contact?
    </div>
    <div class="ans-5">
        We're so sorry to hear that everything isn't working perfect for you! Please contact a member of our expert team
        for assistance: Alex Lowe: (443)-424-0989, Lucille Legacy: (884)-842-3843, Patrick Downing: (434)-343-3214, Caleb Wallwork:
        (434)-232-8942, or Matthew Kaminski: (323)-784-7756. We look forward to assisting you!
    </div>

</div>
