{% extends "_partials/_base.html" %}
{% block title %}
    Recipe Remix | About Us
{% endblock title %}
{% block body %}
    {% include '_partials/_header.html' %}
    <style>
        .title-about-us {
            font-size: 180%;
            font-weight: 600;
            text-align: center;
            position: relative;
            bottom: 90px;
            -webkit-text-stroke: .9px black;
        }
        .about-us-1 {
            text-align: center;
            position: relative;
            bottom: 80px;
            color: black;
        }
        .users-title {
            font-size: 180%;
            font-weight: 600;
            text-align: center;
            position: relative;
            bottom: 40px;
            -webkit-text-stroke: .9px black;
        }
        .user-1-name {
            font-size: 155%;
            font-weight: 400;
            text-align: center;
            position: relative;
            bottom: 20px;
            color: black;
        }
        .user-1-body {
            text-align: center;
            position: relative;
            bottom: 20px;
            color: black;
        }
        .user-2-name {
            font-size: 155%;
            font-weight: 400;
            text-align: center;
            position: relative;
            bottom: 5px;
            color: black;
        }
        .user-2-body {
            text-align: center;
            position: relative;
            bottom: 5px;
            color: black;
        }
        .user-3-name {
            font-size: 155%;
            font-weight: 400;
            text-align: center;
            position: relative;
            bottom: -10px;
            color: black;
        }
        .user-3-body {
            text-align: center;
            position: relative;
            bottom: -10px;
            color: black;
        }
        .user-4-name {
            font-size: 155%;
            font-weight: 400;
            text-align: center;
            position: relative;
            bottom: -25px;
            color: black;
        }
        .user-4-body {
            text-align: center;
            position: relative;
            bottom: -25px;
            color: black;
        }
    </style>
    <div class="p-2 account-background">
        <div class="title-about-us">
        ━━━ About Us ━━━
        </div>
        <div class="about-us-1">
        Here at Recipe Remix we're all about helping you become the healthiest & happiest version of yourself!
            Forget stressing about what to eat and spending all of your money on groceries. By creating an account with our
            application, Recipe Remix will analyze your diet restrictions and provide you with a favorable meal plan
            including a customized grocery list. Did we mention it's free?
        </div>
        <div class="users-title">
        ━━━ Success Stories ━━━
        </div>
        <div class="user-1-name">
            Mel Robinson
        </div>
        <div class="user-1-body">
            "Recipe Remix changed my life! As a full-time personal trainer I don't have much time to prepare meals
            and used to get take out almost every day. Since becoming a member of Recipe Remix I have been able to pay
            off my loans, and am also feeling healthier than I ever have before!"
        </div>
        <div class="user-2-name">
            Marquette Latshaw
        </div>
        <div class="user-2-body">
            "Thanks to this website I've lost 40 pounds and found happiness in myself again! I recommend this product
            to anyone and everyone looking to take control of their health. You'll thank me later!"
        </div>
        <div class="user-3-name">
            Jessica Collins
        </div>
        <div class="user-3-body">
            "After being diagnosed with a gluten allergy I thought I would be eating plain boring meals the rest of my life.
            Recipe Remix had other plans! This product allows me to follow my diet restrictions without breaking the bank.
            I don't know what I would've done without this team's help! Such an amazing product!"
        </div>
        <div class="user-4-name">
        Joe Long
        </div>
        <div class="user-4-body">
            "Without Recipe Remix I would have never been able to train and grow by body like I have over the past 2 years.
            The meal plans and dieting options allow me to create a 100% customized diet plan for muscle building and overall health.
            I've been hitting a new max in the gym every week and I know I wouldn't have been able to do it without their help!"
        </div>
    </div>
{% endblock body %}