{% extends "_partials/_base.html" %}
{% block title %}
    Recipe Remix
{% endblock title %}
{% block body %}
    {% include "_partials/_header.html" %}
    <div class="home-background">
        <div class="slogan-container">
            <p class="custom-slogan">
                Start Your Journey Today!
            </p>
            <p class="custom-opening">
                Sign up now to start saving money and reaching your health goals with our expert team’s customized meal
                plans!
            </p>
        </div>
    </div>
{% endblock body %}

