{% extends "_partials/_base.html" %}
{% block title %}
    Recipe Remix | Profile
{% endblock title %}
{% block body %}
    {% include "_partials/_header.html" %}
<div class="pantry-background">
    <div class="grid grid--content content">
        <h1 class="content__title">Profile</h1>
        <div class="grid content__items grid--items">
            <a class="grid--item" href="{% url "account:allergies" %}">
                <h3 class="grid--item__title">Allergies</h3>
            </a>
            <a class="grid--item" href="{% url "account:pantry" %}">
                <h3 class="grid--item__title">Pantry</h3>
            </a>
        </div>
    </div>
</div>
    <p style="text-align:center"><a href="http://www.facebook.com/sharer/sharer.php?u=http://recipe-remix.tech&quote=Check Out this Awesome App!">Share App on Facebook</a></>
    <p style="text-align:center"><a href="https://twitter.com/intent/tweet?url=http://recipe-remix.tech&text=Check Out this Awesome App!">Share App on Twitter</a></p>
    <p style="text-align:center"><a href="http://pinterest.com/pin/create/link/?url=http://recipe-remix.tech&text=Check Out this Awesome App!">Share App on Pinterest</a></p>
{% endblock body %}

