<style>
body
{
background-image:url("https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
background-position: center;
background-size:cover;
}
</style>
<br><br><br><br><br><br><br><br><br><br>


{% extends "_partials/_base.html" %}
{% block title %}
    Recipe Remix | Login
{% endblock title %}
{% block body %}
    {% include "_partials/_login_signup.html" with submit_label="Login" form_submit_path="account:login" %}
{% endblock body %}