{% extends "_partials/_base.html" %}
{% block title %}
    Recipe Remix | Profile
{% endblock title %}
{% block body %}
    <form action="{% url "account:profile" %}" method="post">
        {% csrf_token %}
        <h3>Items</h3>
        {{ formset.management_form }}
        <div id="allergy-form-list">
            {% for form in formset %}
                <div class="allergy-form">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        </div>
        <button type="submit">Submit</button>
    </form>

{% endblock body %}