<style>
    body {
        background-image: url("https://images.pexels.com/photos/54455/cook-food-kitchen-eat-54455.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
        background-position: center;
    }

</style>
<br><br><br><br><br><br>
<h1 style="font-family:Georgia,serif;color:white;text-align:center;">Login Here</h1>

<form action="action_page.php" method="post">
    <div class="container" style="font-family:Georgia,serif;color:white;text-align:center;">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <br><br>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <br><br>
        <button type="submit"
                style="height:30px;
            width:100px;
            background:orange;
            color:black;
            font-family:Georgia,serif;
            font-size:15px;">Login
        </button>
    </div>
    <p style="font-family:Georgia,serif;color:white;text-align:center;"> Don't have an account? <a href="/register">Sign
        Up</a></p>

</form>
