{% extends 'base.html' %}
{% block title %}
    Recipe Remix | Register
{% endblock title %}
{% block body %}
    <div class="p-2 register-background">
        <div class="container-sm border container--background-fill">
            <form class="container flex-nowrap" action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <label for="{{ form.username.id_for_label }}"
                           class="form-label">{{ form.username.label }}</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="mt-2 alert alert-danger">
                            <strong>{{ form.username.errors.as_text }}</strong>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="mt-2 alert alert-danger">
                            <strong>{{ form.email.errors.as_text }}</strong>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <label for="{{ form.password1.id_for_label }}"
                           class="form-label">{{ form.password1.label }}</label>
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                        <div class="mt-2 alert alert-danger">
                            <strong>{{ form.password1.errors.as_text }}</strong>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <label for="{{ form.password2.id_for_label }}"
                           class="form-label">{{ form.password2.label }}</label>
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                        <div class="mt-2 alert alert-danger">
                            <strong>{{ form.password2.errors.as_text }}</strong>
                        </div>
                    {% endif %}
                </div>
                <div class="row mt-2 justify-content-center">
                    <button type="submit" class="btn btn-primary btn-primary--custom">Register</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}